tqdm
pyyaml
tiktoken
pypdf
python-docx
wikipedia
arxiv
chromadb
gradio
gradio_toggle
groq
langchain
langchain-chroma
langchain_community
langchainhub
litellm
litellm[proxy]
ollama
openai
google-generativeai